.project
*.prefs
.classpath
.springBeans
.settings
target/
tmp
.idea/
*.iml
project/
.gradle/
out
.metadata
Servers
classes/
atlassian-ide-plugin.xml
.sonar/
sonar-project.*
*~
rebel.xml
buildSrc/
db-migration/
coupang.combined.js
coupang.min.js
coupang.detail.combined.js
coupang.detail.min.js
coupang.detail.combined.css
coupang.detail.min.css
.jruby/
.sass-cache/
wow.min.css
play-develop.yml
bin/
contiperf-report/
/build/
*/.gitignore